<!--Title-->
<%= render partial: 'dashboard/partials/heading' %>

<div class="row">
  <div class="col-lg-4 col-sm-6">
    <!-- START widget-->
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-primary-dark pv-lg">
          <em class="icon-cloud-upload fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0"><%= number_to_currency Race.where(owner:current_user).sum(:race_value), unit: "€" %></div>
          <div class="text-uppercase">Premi delle gare Attive</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-sm-6">
    <!-- START widget-->
    <div class="panel widget bg-primary">
      <div class="row row-table">
        <div class="col-xs-4 text-center bg-primary-dark pv-lg">
          <em class="icon-cloud-upload fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
          <div class="h2 mt0"><%= number_to_currency Attendee.where(user:current_user).sum(:join_value), unit: "€" %></div>
          <div class="text-uppercase">Premi allocati gare Attive</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Partecipazioni
      </div>
      <div class="panel-body">
        <%= line_chart Attendee.where(user:current_user).group_by_month(:created_at).count %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Divisione portafoglio per categorie
      </div>
      <div class="panel-body">
        <%# pie_chart Category.joins(:races).where('races.owner_id = ?', current_user.id).group('categories.name').count %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Gare Iniziate/in pausa/archiviate....
      </div>
      <div class="panel-body">
        <%# pie_chart Race.where(owner:current_user).group(:status).count %>
      </div>
    </div>
  </div>
</div>

