<div id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
          <span aria-hidden="true">×</span>
        </button>
        <h4 id="joinModalLabel" class="modal-title">Inserisci per quale importo vuoi partecipare</h4>
      </div>
      <br>
      <div class="text-center">
        <em class="text-center fa text-default fa-5x fa-id-card-o"></em>
      </div>
      <%= form_for([@race, @race.attendees.build]) do |f| %>
        <div class="modal-body">
          <fieldset>
            <div class="form-group text-center">
              <%= f.label :join_value, class: 'col-sm-12 control-label', id:'join_value' %>
              <div class="col-sm-offset-3 col-sm-6">
                <div class="input-group m-b">
                  <span class="input-group-addon">€</span>
                  <%= f.text_field :join_value, class: 'form-control', id:'join_value', required:true %>
                  <span class="input-group-addon">.00</span>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-default btn-pill-left">Chiudi</button>

          <button id="join" type="submit" class="btn btn-success btn-pill-right btn-outline">
            <em class="fa fa-plus fa-fw text-muted text-success"></em>
            <span>Partecipa</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>