<table class="table table-bordered text-left">
  <thead>
  <tr class="bg-gray">
    <th class="">
      Nome cliente
    </th>
    <th class="">
      Provvigione
    </th>
    <th class="">
      Durata
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg-gray">
  </tr>
  <% if user.joined?(@race) %>
    <% user.attendee(@race).pieces.each do |piece| %>
      <tr class="bg-gray">
        <th class=" lead">
          <%= piece.name.try(:humanize) %>
        </th>
        <% @race.commissions.each do |commission| %>
          <td class="lead">
            <%= number_to_currency piece.revenue, precision:2, unit:'€' %>
          </td>
          <td class="lead">
            <%= piece.duration %>
          </td>
        <% end %>
        <br>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<% if user.joined?(@race) %>
  <hr class="style-eight">
  <div class="text-center">
    <p class="h3 text-center"><%= number_to_currency user.attendee(@race).revenue, precision:0 %></p>
  </div>
<% end %>