<!-- Modal-->
<div id="friends_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h4 class="text-center"> <em class="fa fa-google pull-left"></em>
          Google contatti
          <button id="closeMyModal" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <em class="fa fa-times"></em>
          </button>
        </h4>
      </div>
      <div class="modal-body m0">
        <p class="lead text-center">Spunta le persone che vorresti invitare a questa gara, una volta finito vai in fondo e clicca su "Invita". Le persone invitate riceveranno una mail con la proposta di partecipare alla tua gara.</p>
        <div id="allFriends" role="tabpanel" class="tab-pane active">
          <%= render partial: 'races/partials/race/owner_partials/friend_list',
                 :locals => { :friends => current_user.friends, :datatable => 'allFriendsTable' } %>
        </div>
      </div>
    </div>
  </div>
</div>