<% content_for :body_area do %>

  <!-- Modal-->
  <div id="friends_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <button id="closeMyModal" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 id="myModalLabel" class="modal-title">Invita le persone che conosci</h4>
        </div>

        <div class="modal-body form-horizontal">
          <div id="errors"></div>
          <% if @race.owner.friends.empty? %>
            <p class="lead">Non hai amici? Importali da Google contacts</p>
          <% else %>
            <%= form_tag invite_user_path(current_user), method: :post do %>
              <div class="table-responsive">
              <table id="table-ext-1" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Picture</th>
                  <th>Nome</th>
                  <th>Email</th>
                  <th data-check-all="">
                    <div data-toggle="tooltip" data-title="Check All" class="checkbox c-checkbox" data-original-title="" title="">
                      <label>
                        <input type="checkbox">
                        <span class="fa fa-check"></span>
                      </label>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <% @race.owner.friends.each do |friend| %>
                  <tr>
                    <td>
                      <div class="media">
                        <img src="img/user/01.jpg" alt="Image" class="img-responsive img-circle">
                      </div>
                    </td>
                    <td><%= friend.name %></td>
                    <td><%= friend.email %></td>
                    <td>
                      <div class="checkbox c-checkbox">
                        <label>
                          <%= check_box_tag "emails[#{friend.id}]", friend.email, checked: false  %>
                          <input type="checkbox">
                          <span class="fa fa-check"></span>
                        </label>
                      </div>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
                <div class="modal-footer">
                  <button id="save" type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>


  <script>
    $('#invite_friends').click(function(){
      $('#friends_modal').modal('show').css("display", "block").addClass( "in" );
    });

    $('#save').click(function() {
      $("#friends_modal").modal('hide');
    })
  </script>
<% end %>