<% content_for :body_area do %>

  <!-- Modal-->
  <div id="userDataModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button id="closeMyModal" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 id="myModalLabel" class="modal-title">Abbiamo bisogno del tuo RUI per poter procedere</h4>
        </div>
        <div class="panel-body">
          <div id="errors"></div>
        </div>
        <div class="modal-body form-horizontal">
          <div class="text-center">
            <em class="text-center fa text-default fa-5x fa-id-card-o"></em>
          </div>
          <div class="panel-body">
            <%= render :partial => "users/form", :locals => { :user => current_user, :where => :rui_modal} %>
          </div>

        </div>
        <div class="modal-footer text-center">
          <button id="save" type="button" class="btn btn-success">Aggiorna profilo</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    $('#userDataModal').modal('show').css("display", "block").addClass( "in" );

    $('#save').click(function(){

      data = $('form').serialize();
      $.ajax({
        url: "/users/<%= current_user.id %>",
        method: 'patch',
        data: data,
        dataType: "json",
        success: function(){
          $("#userDataModal").modal('hide');
        },
        error: function(data){
          $("#errors").html("<p class='text-danger'>"+ Object.keys(data.responseJSON) + " " + data.responseJSON.rui +"</p>");
        }
      });

    });

    $('#user_rui').keypress(function () {
      kind = this.value.charAt(0);
      switch(kind.toLowerCase()) {
        case 'a':
          $('#userKind').val('Agente');
          break;
        case 'b':
          $('#userKind').val('Broker');
          break;
        case 'c':
          $('#userKind').val('Produttori diretti');
          break;
        case 'd':
          $('#userKind').val('banche / intermediari finanziari');
          break;
        case 'e':
          $('#userKind').val('ABD esterni');
          break;
        default:
          $('#userKind').val('Non valido');
      }
    });

  </script>
<% end %>