<div class="pull-right">

  <!--<button type="button" class="btn btn-info">Crea una gara</button>-->
</div>
<!--<h3>-->
<!--Tutte le gare-->
<!--</h3>-->
<div class="row">
  <div class="col-md-12">
    <div class="panel widget">
      <div class="row row-table row-flush">
        <div class="col-xs-2 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0">10k</h4>
                <p class="mb0 text-muted">CATEGORIA</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0">10k</h4>
                <p class="mb0 text-muted">PROVVIGIONE</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0">10k</h4>
                <p class="mb0 text-muted">PUBBLICHE/PRIVATE</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0">10k</h4>
                <p class="mb0 text-muted">SCADENZA</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 bb br">
          <div class="row row-table row-flush">
            <div class="col-xs-8">
              <div class="panel-body text-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-2 bb">
          <div class="row row-table row-flush btn btn-info">
            <div class="col-xs-8">
              <div class="panel-body text-center">
                <h4 class="mt0">CERCA</h4>
                <!--<p class="mb0 text-white">GARE</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">

  <!--Featured races-->
  <%= render partial: "races/partials/races/featured" %>
  <!--ALl Races-->
  <%= render partial: "races/partials/races/all" %>
</div>

