<div class="pull-right">
  <%= link_to 'Crea una gara', new_race_path(@race), class: 'btn btn-info' %>
  <!--<button type="button" class="btn btn-info">Crea una gara</button>-->
</div>
<h3>Le gare sul portale</h3>
<div class="row">

  <!--Featured races-->
  <%= render partial: "races/partials/featured" %>

  <!--ALl Races-->
  <%= render partial: "races/partials/all" %>

</div>
