<div class="pull-right">
  <button type="button" class="btn btn-info">Crea una gara</button>
</div>
<h3>Le gare sul portale</h3>
<div class="row">

  <!--Featured races-->
  <%= render partial: "races/partials/featured" %>

  <!--ALl Races-->
  <%= render partial: "races/partials/all" %>

</div>
