<div class="wrapper">
  <div class="abs-center">
    <div class="text-center mv-lg">
      <h1 class="mb-lg"><sup><em class="fa fa-user fa-2x text-muted text-info"></em></sup>
        <em class="fa icon-share fa-5x text-muted text-purple"></em>
        <em class="fa fa-users fa-lg text-muted text-success"></em>
      </h1>
      <div class="text-bold text-lg mb-lg">Presto disponibile</div>
      <p class="lead m0">Condividi le tue gare con reti private create da te</p>
    </div>
  </div>

</div>