<%= render partial: "races/partials/races/user_races_insight_widgets" %>
<br class="hidden-lg">
<div class="row text">
  <!--ALl Races-->
  <% if @races.empty? %>
    <div class="text-center">
      <p class="lead">Non hai ancora creato una gara,</p>
      <p class="lead">cosa aspetti?</p>
      <%= link_to(new_race_path, class:'btn btn-success btn-oval btn-xl', id:'plus_nuova_gara') do %>
        &nbsp
        <em class="fa fa-plus"></em>
        &nbsp
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <%= render partial: 'races/partials/races/datatable' %>
        </div>
      </div>

    </div>
  <% end %>
</div>