<div class="row">
  <div class="panel b col-lg-6 col-lg-offset-3">
      <h1 class="text-center">
        Benvenuto.
      </h1>
      <p class="lead text-center margin-10">
        Ci sei quasi, ora abbiamo solo bisogno del tuo codice RUI (Registro unico intermediari) e potrai creare è partecipare
        a tutte le gare assicurative disponibili.
      </p>
      <p class="lead text-center">
      </p>
      <div class="col-lg-6 col-lg-offset-3">
        <%= form_for current_user, html:{class:"form-inline", id:"intent"} do |f| %>

          <div class="form-group">
            <%= f.text_field :rui, class: 'form-control input-lg'%>
            <small>Richiedere il codice RUI ci permette di avere una piattaforma piu controllata e sicura.</small>
          </div>
          <br>
          <br>
          <div class="form-group text-center">
            <button id="save_and_create" class="btn btn-lg btn-primary" type="button">Crea subito una gara di produzione</button>
            <br> o
            <br>
            <button id="save_and_search" class="btn btn-lg btn-primary btn-outline" type="button">Partecipare a gare di altri</button>
            <br>
            <br>
          </div>
          <div id="errors"></div>
        <% end %>
      </div>
      <br>
  </div>
</div>

<% content_for :body_area do %>

  <script>
      $('#save_and_create').click(function(){
      data = $('form').serialize();
      $.ajax({
        url: "/users/<%= current_user.id %>",
        method: 'patch',
        data: data,
        dataType: "json",
        success: function(){
          $("#save").text('Salvato!').removeClass('btn-primary').addClass('btn-success');
          window.location.href = "/races/new";
        },
        error: function(data){
          $("#errors").html("<p class='text-danger'>"+ Object.keys(data.responseJSON) + " " + data.responseJSON.rui +"</p>");
        }
      });

    });
      $('#save_and_search').click(function(){
        data = $('form').serialize();
        $.ajax({
          url: "/users/<%= current_user.id %>",
          method: 'patch',
          data: data,
          dataType: "json",
          success: function(){
            $("#save").text('Salvato!').removeClass('btn-primary').addClass('btn-success');
            window.location.href = "/races";

          },
          error: function(data){
            $("#errors").html("<p class='text-danger'>"+ Object.keys(data.responseJSON) + " " + data.responseJSON.rui +"</p>");
          }
        });

      });
  </script>
<% end %>


