<div class="container container-md">
  <div class="text-center mv-lg pv-lg">
    <div class="h2 text-bold">Un abbonamento per ogni esigenza</div>
    <p>Scegli il piano che piu fa per te</p>
  </div>
  <!-- START PLAN TABLE-->
  <div class="row">
    <!-- PLAN-->
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-body text-center bb">
          <div class="text-bold">BASIC</div>
          <h3 class="mv-lg"><sup></sup>
            <span class="text-lg">Free</span>
            <span class="text-xs"></span>
          </h3>
        </div>
        <div class="panel-body">
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Partecipa alle gare pubbliche</span>
          </p>
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Crea gare private</span>
          </p>
          <p>
            <em class="fa fa-times fa-fw text-warning mr"></em>
            <span>Partecipa a gare private</span>
          </p>
          <p>
            <em class="fa fa-times fa-fw text-warning mr"></em>
            <span>Crea gare pubbliche</span>
          </p>
        </div>
        <div class="panel-body text-center">
          <p class="lead">Free</p>
        </div>
      </div>
    </div>
    <!-- PLAN-->
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-body text-center bg-green">
          <div class="text-bold">PARTECIPANTE (consigliata per te)</div>
          <h3 class="mv-lg"><sup>€</sup>
            <span class="text-lg">29</span>
            <span class="text-xs">/mo</span>
          </h3>
        </div>
        <div class="panel-body">
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Partecipa alle gare pubbliche</span>
          </p>
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Crea gare private</span>
          </p>
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Partecipa a gare private</span>
          </p>
          <p>
            <em class="fa fa-times fa-fw text-warning mr"></em>
            <span>Crea gare pubbliche</span>
          </p>
        </div>
        <div class="panel-body text-center">
          <% if current_user.plan == Plan.where(stripe_id: 'pro_attendee').first %>
            <p class="lead">
              Iscritto
            </p>
          <% else %>
            <%= render 'payola/subscriptions/checkout', plan: Plan.where(stripe_id: 'pro_attendee').first %>
          <% end %>
          <br>
        </div>
      </div>
    </div>
    <!-- PLAN-->
    <div class="col-md-4">
      <div class="panel b">
        <div class="panel-body text-center bb">
          <div class="text-bold">CREATORI</div>
          <h3 class="mv-lg"><sup>$</sup>
            <span class="text-lg">95</span>
            <span class="text-xs">/mo</span>
          </h3>
        </div>
        <div class="panel-body">
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Partecipa alle gare pubbliche</span>
          </p>
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Crea gare private</span>
          </p>
          <p>
            <em class="fa fa-times fa-fw text-warning mr"></em>
            <span>Partecipa a gare private</span>
          </p>
          <p>
            <em class="fa fa-check fa-fw text-green mr"></em>
            <span>Crea gare pubbliche</span>
          </p>
        </div>
        <div class="panel-body text-center">
          <% if @user.plan == Plan.where(stripe_id: 'pro_creator').first %>
            <p class="lead">
              Iscritto
            </p>
          <% else %>
            <%= render 'payola/subscriptions/checkout', plan: Plan.where(stripe_id: 'pro_creator').first %>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p class="text-center text-muted">
    <small>* Subject to specific license terms. Price and features listed for demo only.</small>
  </p>
</div>
