<%= render partial: "attendees/partials/attendee_races_widget" %>
<br class="hidden-lg">
<div class="row text">
  <!--ALl Races-->
  <% if @attendees.empty? %>
    <div class="text-center">
      <p class="lead">Non hai ancora partecipato a nessuna gara!</p>
      <p class="lead">cosa aspetti?</p>
      <%= link_to(races_path, class:'btn btn-info btn-oval btn-xl', id:'plus_nuova_gara') do %>
        &nbsp
        <em class="fa fa-search"></em>
        &nbsp
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <%= render partial: 'attendees/partials/datatable' %>
        </div>
      </div>

    </div>
  <% end %>
</div>