
  <a href="" class="list-group-item" id="<%= event.id %>">
    <div class="media-box">
      <div class="pull-left">
        <em class="fa fa-twitter fa-2x text-info"></em>
      </div>
      <div class="media-box-body clearfix">
        <p class="m0"><%= event.message %></p>
        <p class="m0 text-muted">
          <small>1 new follower</small>
        </p>
      </div>
    </div>
  </a>

