<h3>Chart JS</h3>
<div class="container-fluid container-md">
   <div class="row mb-lg">
      <div class="col-lg-6">
         <h3 class="mb-lg pv">Line Chart</h3>
         <div>
            <canvas id="chartjs-linechart"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h3 class="mb-lg pv">Bar Chart</h3>
         <div>
            <canvas id="chartjs-barchart"></canvas>
         </div>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-lg-6">
         <h3 class="mb-lg pv">Polar Area Chart</h3>
         <div>
            <canvas id="chartjs-polarchart"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h3 class="mb-lg pv">Radar Chart</h3>
         <div>
            <canvas id="chartjs-radarchart"></canvas>
         </div>
      </div>
   </div>
   <div class="row mb-lg">
      <div class="col-lg-6">
         <h3 class="mb-lg pv">Pie Chart</h3>
         <div>
            <canvas id="chartjs-piechart"></canvas>
         </div>
      </div>
      <div class="col-lg-6">
         <h3 class="mb-lg pv">Doughnut Chart</h3>
         <div>
            <canvas id="chartjs-doughnutchart"></canvas>
         </div>
      </div>
   </div>
</div>