<div id="tabSetting5" class="tab-pane">
  <div class="panel b">
    <div class="panel-heading bg-gray-lighter text-bold">Fatture</div>
    <div class="panel-body">
      <p>
        <span>Storico fatture</span>
      </p>
      <ul class="list-group">
        <li class="list-group-item clearfix">
          <p>Non ci sono fatture</p>
        </li>
        <% @invoices.each do |invoice| %>
          <li class="list-group-item clearfix">
            <div class="pull-left mr">
              <em class="fa fa-file-pdf-o"></em>
            </div>
            <div class="pull-right">
              <button type="button" class="btn btn-danger">
                <strong>PDF</strong>
              </button>
            </div>
            <p class="text-bold mb0">
              <%= Time.at(invoice.date).strftime("%d-%m-%Y")  %>
            </p>
            <small>Ut turpis urna, tristique sed adipiscing nec, luctus quis leo.</small>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>