<div id="tabSetting4" class="tab-pane">
  <form action="">
    <div class="panel b">
      <div class="panel-heading bg-gray-lighter text-bold">Notifications</div>
      <div class="panel-body bb">
        <!--<div class="form-group">-->
        <!--<div class="checkbox">-->
        <!--<label>-->
        <!--<input type="checkbox" value="" />-->
        <!--<strong>Disable email notifications</strong>-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <p class="lead">La gestione delle notifiche sarà disponibile a breve. Grazie per la pazienza.</p>
      </div>
      <!--<div class="panel-body">-->
      <!--<p>-->
      <!--<strong>Interaction</strong>-->
      <!--</p>-->
      <!--<div class="form-group">-->
      <!--<div class="checkbox">-->
      <!--<label>-->
      <!--<input type="checkbox" value="" />Alert me when someone start to follow me</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
      <!--<div class="checkbox">-->
      <!--<label>-->
      <!--<input type="checkbox" value="" />Alert me when someone star my work</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group">-->
      <!--<div class="checkbox">-->
      <!--<label>-->
      <!--<input type="checkbox" value="" />Alert me when post a new comment</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--<p>-->
      <!--<strong>Marketing</strong>-->
      <!--</p>-->
      <!--<div class="form-group">-->
      <!--<div class="checkbox">-->
      <!--<label>-->
      <!--<input type="checkbox" value="" />Send me news and interesting updates</label>-->
      <!--</div>-->
      <!--</div>-->
      <!--<button type="button" class="btn btn-info">Update notifications</button>-->
      <!--<p>-->
      <!--<small class="text-muted">Mauris sodales accumsan erat, ut dapibus erat faucibus vitae.</small>-->
      <!--</p>-->
      <!--</div>-->
    </div>
  </form>
</div>
