/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * --- Angle Main Stylesheet
 * 
 *= require angle/app
 *
 * --- Assets paths redefinition 
 *= require fonts
 *= require vendor.assets
 *= require races
 *= require social-share-button
 *
 */

@import "social-share-button";

.btn-facebook{
  background-color: #3B5998 !important;
}

.btn-facebook:hover{
  background-color: #426bb1 !important;
}

.col-md-half{
  width: 4.166666666666666%;
}
.no-decoration{
  text-decoration: none !important;
}

$size: 30px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}



.margin-10{
  margin-right: 10px;
  margin-left: 10px;
}