<div class="panel b text-center">
  <div class="panel-body">
    <p class="h4 text-bold mb0">Questo è il creatore</p>
  </div>
  <div class="panel-body">
    <em class="fa fa-question fa-5x"></em>
    <p class="h4 text-bold mb0">
      Partecipa alla gara per sapere chi è il creatore
    </p>
  </div>
</div>