<div class="content-heading hidden-xs">
  <div class="row">
    <div class="col-lg-1 col-xs-2 text-center br p0 m0">
      <%# link_to history_back_path, id:'back-history' do %>
        <em class="fa <%= t("controller.#{controller_name}.action.#{action_name}.icon") %> text-primary"></em>
      <%# end %>
    </div>
    <div class="col-lg-11 col-xs-10">
      <%= t("controller.#{controller_name}.action.#{action_name}.text") %>
    </div>
  </div>
</div>
<br class="visible-xs">
